@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
    /* Primary Color */
    --clr-strong-cyan: hsl(172, 67%, 45%);
    /* Neutral Colors */
    --clr-very-dark-cyan: hsl(183, 100%, 15%);
    --clr-dark-grayish-cyan: hsl(186, 14%, 43%);
    --clr-grayish-cyan: hsl(184, 14%, 56%);
    --clr-light-grayish-cyan: hsl(185, 41%, 84%);
    --clr-very-light-grayish-cyan: hsl(189, 41%, 97%);
    /* Typography */
    --font-size-24: 24px;
    --font-family: 'Space Mono', monospace;
    --font-weight-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
}

html {
    font-size: var(--font-size-24);
}

body {
    min-height: 100vh;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    background-color: var(--clr-light-grayish-cyan);
}

h1 {
    color: var(--clr-very-dark-cyan);
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    width: 95px;
    /*To enforce word break*/
    overflow-wrap: break-word;
    margin-bottom: 2.5rem;
}

h2 {
    font-size: 0.75rem;
}

main {
    background-color: white;
    box-shadow: 0 0 50px -30px rgb(94, 122, 125);
    max-width: 950px;
    border-radius: 1rem;
    padding: 1.3rem;
    margin-inline: 2rem;
    display: flex;
    gap: 1.3rem;
}

input {
    width: 100%;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--clr-very-light-grayish-cyan);
    color: var(--clr-very-dark-cyan);
    caret-color: var(--clr-strong-cyan);
}

input:focus {
    outline-color: var(--clr-strong-cyan);
}

input::placeholder {
    color: var(--clr-grayish-cyan);
    opacity: 0.7;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


button {
    cursor: pointer;
    border-radius: 0.2rem;
    background-color: var(--clr-strong-cyan);
}

/* First Section */
.input-side {
    width: 50%;
    font-size: 1rem;
    padding: 0.5rem 0.7rem;
}

.input-side h2 {
    color: var(--clr-very-dark-cyan);
    margin-bottom: 0.15rem;
}

.input-side section:not(.input-side section:last-child) {
    margin-bottom: 1.5rem;
}

.input-side .bill-amount-section input {
    background-image: url(images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 0.8rem;
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
}

.input-side .tip-selection-section .grid {
    margin-top: 0.7rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.6rem;
}

.input-side .tip-btn {
    background-color: var(--clr-very-dark-cyan);
    color: var(--clr-very-light-grayish-cyan);
    border: none;
    padding-block: 0.35rem;
    padding-inline: 1.1rem;
    cursor: pointer;
}

.input-side .tip-btn:hover,
.reset-btn:not([disabled]):hover {
    background-color: var(--clr-light-grayish-cyan);
    color: var(--clr-very-dark-cyan);
}

.input-side .tip-btn:focus,
.result-side .reset-btn:focus {
    background-color: var(--clr-strong-cyan);
    color: var(--clr-very-dark-cyan);
    outline: 0;
}

.input-side .grid input {
    padding-inline: 0.5rem;
}

.tip-selection-section .grid input::placeholder {
    text-align: center;
    color: var(--clr-very-dark-cyan);
}

.input-side .people-number-section input {
    background-image: url(images/icon-person.svg);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 0.8rem;
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
}

/* Second Section */
.result-side {
    width: 50%;
    font-size: 1rem;
    padding: 2rem 1.7rem;
    border-radius: 0.5rem;
    background-color: var(--clr-very-dark-cyan);
    display: flex;
    flex-direction: column;
}

.result-side h2 {
    color: var(--clr-very-light-grayish-cyan);
}

.result-side span {
    font-size: 0.57rem;
    opacity: 0.4;
}

.result-side p {
    font-size: 2rem;
    color: var(--clr-strong-cyan);
}

.result-side .tip-amount-section,
.result-side .total-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.result-side .reset-btn {
    margin-top: auto;
    text-transform: uppercase;
    font-size: 0.85rem;
    border: none;
    padding-block: 0.3rem;
    color: var(--clr-very-dark-cyan);
}

.result-side .reset-btn:disabled {
    cursor: not-allowed;
    opacity: 0.2;
}

/* Media Query */
@media screen and (max-width: 760px) {

    main {
        width: 100%;
        flex-wrap: wrap;
        border-radius: 1rem 1rem 0 0;
    }

    .input-side,
    .result-side {
        width: 100%;
    }
}

@media screen and (max-width: 410px) {

    .input-side .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .result-side p {
        font-size: 1.5rem;
    }
}